# vscode
.vscode

# IPython
.ipynb_checkpoints

# image data
/training/data/crossvalidation_data/*
/training/data/training_data/*
!/training/data/crossvalidation_data/.gitkeep
!/training/data/training_data/.gitkeep

/training/FER_emotions/*
!/training/FER_emotions/.gitkeep

# .tfrecords
*.tfrecords